body {
    padding: 0px;
    margin: 0px;
    background-color: #2D2D30;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#title-bar {
    z-index: 999;
    position: fixed;
    width: 100vw;
    -webkit-app-region: drag;
    height: 32px;
    padding: 0px;
    margin: 0px;
    color: #ADADAD;
    font-family: sans-serif;
    background-color: #202022;
    text-align: center;
    box-shadow: 2px 0 5px .5px #ffffff11;
    user-select: none;
}

#title {
    line-height: 32px;
    font-size: 14px;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 1px;
    right: 0px;
    margin: 5px;
    margin-right: 10px;
}

#title-bar-btns button {
    height: 14px;
    width: 14px;
    border: none;
    color: #F1F1F1;
    font-size: 16px;
    margin: 5px;
    margin-top: 3.5px;
}

#title-bar-btns button:hover {
    background-color: #3F3F41;
}

.content {
    height: 80vh;
    padding-top: 55px;
    color: #CCCCCC;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: content-box;
}

.contentFS {
    height: 95vh;
    padding-top: 2vh;
    color: #CCCCCC;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: content-box;
}

@media (min-height: 550px) {
    .content {
        height: 90vh;
        padding-top: 55px;
        color: #CCCCCC;
        display: flex;
        flex: 1;
        flex-direction: column;
        box-sizing: content-box;
    }
}

a {
    color: #68217A;
}

#close-btn {
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}

#min-btn {
    background-color: rgb(3, 189, 3);
    border-radius: 50%;
}

#max-btn {
    background-color: rgb(255, 255, 0);
    border-radius: 50%;
}